<!DOCTYPE html>
<html lang="en">
<head>
<title>LearnBox</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>


<!-- Header -->
<header class="w3-container w3-green w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Learn Box</h1>
  <p class="w3-xlarge">Lerning Management System</p>
    <button  class="w3-button w3-black w3-padding-large w3-large w3-margin-top"> <a href='/register/'> Get Started</a> </button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 class="w3-padding-32 w3-text-black">Learn Box</h1>
      <h5 class="w3-padding-32 w3-text-black">Discover a world of learning possibilities with Learn Box, our latest learning management system app! Designed to empower students and lifelong learners, Learn Box provides a seamless and intuitive platform to access a wealth of educational resources, interactive lessons, and collaborative tools.</h5>
      <p class="w3-text-black">Empower learning by using Learn Box.</p>
    </div>

    <div class="w3-third w3-center">
{#        <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>#}
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-teal w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class=" w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Accessible Learning</h1>
      <h5 class="w3-padding-32">Our platform prioritizes accessibility, usability, and effortless learning, while providing a free and open environment for students, learners, and users from all over the world.</h5>

      <p class="w3-text-white">Easy to access, easy to use, and easy to learn and a non-profitable LMS. A free for all and user friendly application. </p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: Education is the most powerful weapon which you can use to change the world</h1>
    <h1 class="w3-margin w3-xlarge">-Nelson Mandela</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">

</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>









{#{% block header %}#}
{#    <div class='jumbotron' style="background-color: black; color: white;">#}
{#        <h1>Track your learning.</h1>#}
{#    </div>#}
{#{% endblock header %}#}
{##}
{#{% block content %}#}
{#    <h2>#}
{#        <a href= '/register/'>Register an account</a> to make#}
{#        your own Learning Log, and list the topics you're learning about.#}
{#    </h2>#}
{#    <h2>#}
{#        Whenever you learn something about a topic, make an entry#}
{#        summarizing what you've learned.#}
{#    </h2>#}
{#{% endblock content %}#}